    body {
      background: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }

    .page {
      display: flex;
      justify-content: center;
      gap: 80px;
      align-items: center;

    }
    .inst {
      align: left;
    }

    .left {
      margin-top: -100px;
      margin-left: 50px;
      max-width: 400px;
    }
    .vertical {
      width: 1px;
      height: 600px;
      margin-top: -100px;
      margin-left: 150px;
      margin-bottom: -18px;
      background-color: #ccc;
      border: none;
    }
    .logo {
      color: #000000;
      font-size: 30px;
      text-align: center;
      margin: 12px 0;
    }
    .gradient-text {
    background: linear-gradient(90deg, #fa8202, #f900e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .right {
      margin-top: -100px;
      width: 400px;
    }
    .input {
      width: 367px;
      padding: 12px;
      margin: 8px 0;
      border: 1px solid #dbdfe4;
      border-radius: 15px;
      font-size: 12px;
    }
      .btn {
      width: 395px;
      text-align: center;
      border: 1px solid #dbdfe4;
      border-radius: 15px;
      padding: 10px;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 8px;
      background: #1877f2;
      color: #fff;
    }
    .btn:hover { 
      background: #0062e2; 
    }
    .facebook {
      width: 367px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 auto;
      width: fit-content;
      padding: 10px 100px;
      text-align: center;
      background: #fff;
      border: 1px solid #dbdfe4;
      border-radius: 25px;
      cursor: pointer;
      color: #030303;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .facebook img {
      display: block;
      height: 20px;
      width: auto;
    }
    .facebook:hover {
      background-color: #f0f2f5;
    }

  p3 {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: 8px auto 0;
    font-size: 12px;
    color: #444444;
    text-align: center;
    margin-left: 150px;
  }


    .forgot {
      display: block;
      text-align: center;
      margin-top: 14px;
      color: #000000;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .forgot:hover { text-decoration: underline; }
    hr {
      border-top: 1px solid #d2d4d7;
      margin: 16px;
    }

    .new {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 auto;
      width: fit-content;
      background: #fff;
      border: 1px solid #95c5ff;
      border-radius: 25px;
      cursor: pointer;
      color: #95c5ff;
      font-size: 17px;
      padding: 10px 100px;
      text-align: center;
      text-decoration: none;
      margin-bottom: 20px;
    }
    .new:hover { background: hsl(184, 100%, 97%); }

    .text {
      text-align: center;
      margin-left: 170px;
      margin-top: 70px;
      color: #1c1e21;
      font-size: 14px;
    }
    .face {
      background: #fff;
      
    }
    
    .link {
      color: #9b9b9b;
      text-decoration: none;
    }
    .link:hover {
      text-decoration: underline;
    }
    .text {
      margin-top: -15px;
    }